* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header */
header {
    height: 400px;
    background-image: url("https://www.microsoft.com/en-us/research/uploads/prod/2020/06/PandemicPrep_MED_header_06_2020_1920x720.jpg");
    background-size: cover;

}

.heading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    color: #eee;
}

.title::first-letter {
    color: red;
    font-size: 5rem;
}

.sub_title {
    color: #fff;
    text-align: center;
}

.data {
    padding: 1.2rem;
}

.data_heading {
    padding: 1.2rem;
    margin: 1rem;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/* Table */

.table_data {
    max-width: 1200px;
    margin: auto;
}

table {
    width: 100%;
    background-color: #fff;
    color: #000;
    border-collapse: collapse;
    text-align: justify;
}

table td,
th {
    padding: 10px 20px;
    border-bottom: 1px solid gray;
}

table thead {
    background-color: #333;
    color: #eee;
}

/* Footer */

footer {
    padding: 40px 0;
    background: #333;
    color: #eee;
    border-top: 1px solid gray;
}

footer p {
    margin: 5px;
    text-align: center;
}

footer .fa-heart {
    margin: 0 2px;
    color: red;
    animation: zoom 0.9s infinite;
}

@keyframes zoom {
    0% {
        transform: scale(0.2);
    }

    100% {
        transform: scale(1);
    }
}


.toggle-btn {
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    font-weight: 600;
    background-color: transparent;
    color: gray;
    box-shadow: 0 0 5px gray;
}